.search-bar-container {
  border: 1px solid $gray;
  border-radius: 60px;
  padding: 0 8px;
  background-color:#eae4e4;
  color: rgb(42, 42, 44);
}

.search-bar {
  border: none;
  height: 28px;
  background: #eae4e4;
}